{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Registro producto</title>

	<meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    

    <link href="https://fonts.googleapis.com/css?family=Acme|Coiny" rel="stylesheet"> 
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="{% static 'css/registrar.css' %}">

</head>
<body>
{% block content %}
	

	<h1 align="center">Ingresar producto</h1>
	
	
	<form method="POST">
		{% csrf_token %}

	<div id="cajatres">

		<table border="0" align="center">

			<div class="form-group" align="center">
				<tr>
					<th>
						<label for="Nombre_producto">Nombre del producto: </label>
					</th>
					<td>
						<br>
						<input class="form-control" type="text" name="Nombre_producto" id = "Nombre_producto" required placeholder="Producto" maxlength="35">
						<br>
					</td>
				</tr>
			
				<tr>
					<th>
						
						<label for="Precio_compra">Precio de compra: </label>
					</th>
					<td>
						<br>
						<input class="form-control" type="text" name="Precio_compra" id = "Precio_compra" required placeholder="Precio compra" maxlength="35">
						<br>
					</td>
				</tr>

				<tr>
					<th>
					
						<label for="Precio_venta">Precio de venta: </label>
					</th>
					<td>
						<br>
						<input class="form-control" type="text" name="Precio_venta" id = "Precio_venta" required placeholder="Precio venta" maxlength="35">
						<br>
					</td>
				</tr>

				<tr>
					<th>
						
						<label for="Existencia_minima">Existencia mínima: </label>
					</th>
					<td>
						<br>
						<input class="form-control" type="text" name="Existencia_minima" id = "Existencia_minima" required placeholder="Existencia mínima" maxlength="35">
						<br>
					</td>
				</tr>

				
				<tr>
					<th>
						
						<label for="Existencia_actual">Existencia actual: </label>
					</th>
					<td>
						<br>
						<input class="form-control" type="text" name="Existencia_actual" id = "Existencia_actual" required placeholder="Existencia actual" maxlength="35">
						<br>
					</td>
				</tr>

				<tr>
					<th>
						
						<label for="Mult1">PC * EA: </label>
					</th>
					<td>
						<br>
						<input class="form-control" type="text" name="Mult1" id = "Mult1" required placeholder="Precio venta * Existencia actual" maxlength="35" onclick="obtener()">
						<br>
					</td>
				</tr>


				<script type="text/javascript">
					
					function obtener(){	
						var a = document.getElementById("Precio_compra").value;

						var b = document.getElementById("Existencia_actual").value;						

						var c = a*b;

						document.getElementById("Mult1").value = c ; 
						
					}

					function obtener2(){
						var a = document.getElementById("Precio_venta").value;

						var b = document.getElementById("Existencia_actual").value;

						var c = a*b;

						document.getElementById("Mult2").value = c ; 

					}

				</script>




				

				<tr>
					<th>
						
						<label for="Mult2">PV * EA: </label>
					</th>
					<td>
						<br>
						<input class="form-control" type="text" name="Mult2" id = "Mult2" required placeholder="Precio compra * Existencia actual" maxlength="35" onclick="obtener2()">
						<br>
					</td>
				</tr>

				
				<tr>
					<th>
						
						<label for="Estado">Estado: </label>
					</th>
					<td>
						<br>
						<select class="form-control" name="Estado" id = "Estado" required maxlength="35">
			              <option>En existencia</option>
			              <option>Agotado</option>
			              <option>Suficiente</option>
			              <option>Insuficiente</option>
			              <option>Otro</option>
			            </select>
			            <br>
					</td>
				</tr>

				<br>


			</div>
			
			

		</table>

	</div>




	<div id="boton" align="center">
	<input  type="submit" value="Guardar"/>
	</div>
	<br><br>
		
	</form>
	

{% endblock content %}
</body>
</html>

